body {
    font-family: calibric;
    background-color: green;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container
                {
                    max-width: 800px;
                    margin: 0 meta;
                    color: black;
                    font-famil:arial;
                    padding-top:50px;
                    padding-left:60px;
                    padding-right:50px;
                    padding-bottom:60px;
                    
                }

